<mjml>
  <%- include('../commun/head.mjml.ejs'); %>
  <mj-body background-color="#f0f0f0">
    <%- include('../commun/header-structure.mjml.ejs', { utils }); %>
    <mj-section padding="8px"></mj-section>
   <mj-wrapper css-class="wrapper">
   	<mj-section>
    	<mj-column>
      	<mj-text align="left">
        	Bonjour,
        </mj-text>
        <mj-text align="left">
        	Vous disposez d&rsquo;un poste de conseiller num&eacute;rique pour lequel le contrat se termine dans 2 mois.
        </mj-text>
        <mj-text align="left" font-weight="bold">
        	🔹 Si vous souhaitez renouveler le poste de votre conseiller :
        </mj-text>
        <mj-text align="left">
        	Nous vous invitons d&egrave;s &agrave; pr&eacute;sent &agrave; effectuer la d&eacute;marche de renouvellement sur le Tableau de pilotage.
        </mj-text>
        <mj-text align="left">
          <a target="blank" rel="noopener noreferrer" href="https://aide.conseiller-numerique.gouv.fr/fr/article/faire-une-demande-de-re-conventionnement-bemki2/">
            En savoir plus sur “Comment faire la d&eacute;marche de renouvellement de poste sur le tableau de pilotage”
          </a>
        </mj-text>
        <mj-text align="left">
          Sans action de votre part, les acc&egrave;s &agrave; l&rsquo;outillage Coop de votre conseiller num&eacute;rique <b>seront coup&eacute;s</b> dans deux mois. Le conseiller num&eacute;rique pourra &agrave; ce moment-l&agrave;, acc&eacute;der &agrave; son espace candidat pour mettre &agrave; jour ses informations de candidatures.
        </br></br>
        </mj-text>
        <mj-text align="left">
           🔹 <b>Si vous n&rsquo;avez aucun poste dont la date de contrat arrive &agrave; &eacute;ch&eacute;ance dans 2 mois, cela signifie que les dates affich&eacute;es dans le tableau de pilotage sont incorrectes.</b> (Elles ont pu &ecirc;tre renseign&eacute;es sans avoir d&rsquo;information sur la date r&eacute;elle de fin, ou alors la date de fin a &eacute;t&eacute; revue)
         </mj-text>
         <mj-text align="left">
           Dans ce cas, nous vous invitons &agrave; nous le faire savoir par email &agrave; l&rsquo;adresse <a href="mailto:<%= emailSupport %>"><%= emailSupport %></a> . L&rsquo;&eacute;quipe support se chargera de mettre &agrave; jour les dates de contrats afin de ne pas couper les acc&egrave;s Coop de votre conseiller num&eacute;rique.
         </mj-text>
         <mj-text align="left">
           <b>Vous avez des questions ?</b></br>
           L&rsquo;&eacute;quipe d&rsquo;animation se tient &agrave; votre disposition :</br>
            <span style="margin: 0 10px">-</span>Par email &agrave; l&rsquo;adresse : <a href="mailto:<%= emailSupport %>"><%= emailSupport %></a></br>
            <span style="margin: 0 10px">-</span>Par t&eacute;l&eacute;phone au num&eacute;ro suivant : <a href="tel:+33158508942">01 58 50 89 42</a> le lundi toute la journ&eacute;e</br>
            <span style="margin: 0 12px"></span>et le mercredi et jeudi matin de 9h30 &agrave; 12h00
         </mj-text>
       </mj-column>
     </mj-section>
    </mj-wrapper>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column> <%- include('../commun/signature.mjml.ejs'); %> </mj-column>
      </mj-section>
      <mj-section padding="8px"></mj-section>
      <mj-section>
        <mj-column> <%- include('../commun/footer.mjml.ejs'); %></mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>

