<mjml>
  <%- include('../commun/head.mjml.ejs'); %>
  <mj-body background-color="#f0f0f0">
    <%- include('../commun/header.mjml.ejs', { utils }); %>
      <mj-wrapper css-class="wrapper">
        <mj-section>
          <mj-column>
            <mj-text css-class="text-primary" font-weight="bold">
              Bienvenue parmi les Conseillers Numériques
            </mj-text>
            <mj-text align="left">
              Madame, Monsieur,
            </mj-text>
            <mj-text align="left">
              Nous avons le plaisir de vous accueillir au sein de la communauté des conseillers numériques.
            </mj-text>
            <mj-text align="left">
              Dans le cadre de votre mission de conseiller numérique, vous avez accès à La Coop, une
              suite d’outils interconnectés les uns aux autres permettant de vous accompagner au
              quotidien.
            </mj-text>
            <mj-text align="left">
              Cette suite permet de :
              <ul align="left">
                <li>Valoriser votre métier grâce à des statistiques sur vos accompagnements alimentées
                  par un compte rendu d’activité</li>
                <li>Suivre vos bénéficiaires</li>
                <li>Vous former et faire de la veille sur les enjeux du numérique pour valoriser vos
                  compétences</li>
                <li>Accéder à une ressourcerie du numérique d’intérêt général</li>
                <li>Vous mettre en lien avec votre communauté</li>
              </ul>
            </mj-text>
            <mj-text align="left">
              Pour pouvoir y accéder en toute simplicité, nous vous invitons à obtenir auprès de votre 
              employeur, ou vous créer, une adresse électronique professionnelle incluant votre nom et prénom.
              Une fois que vous aurez cette adresse électronique en votre possession, nous vous invitons à la
              renseigner sur votre espace candidat pour que l’on puisse la relier à votre espace sur La Coop.
              Pour ce faire, vous pouvez suivre le <a href="https://aide.conseiller-numerique.gouv.fr/fr/article/mise-a-jour-de-laddresse-e-mail-professionnelle-b1jstl/">guide</a> prévu à cet effet.
            </mj-text>
            <mj-text align="left">
              Vous pourrez ensuite cliquer sur “Accéder à La Coop” pour être redirigé vers votre outil.
            </mj-text>
          </mj-column>
        </mj-section>
        <mj-section css-class="box" padding-top="0" padding-left="100px" padding-right="100px">
          <mj-column border="1px solid #C8CBCE">
            <mj-button href="<%= link %>" background-color="#24303A" color="#F4F4F5" font-size="16px" font-weight="bold"
              text-transform="uppercase">
              Accéder à La Coop
            </mj-button>
            <mj-text css-class="text-secondary">
              <%= link %>
            </mj-text>
          </mj-column>
        </mj-section>
        <mj-section>
          <mj-column>
            <%- include('../commun/signature.mjml.ejs'); %>
            <mj-text css-class="text-secondary">
              https://www.conseiller-numerique.gouv.fr/
            </mj-text>
          </mj-column>
        </mj-section>
      </mj-wrapper>
  </mj-body>
</mjml>
