<mjml>

  <%- include('../commun/head.mjml.ejs'); %>
  <mj-body background-color="#f0f0f0">

    <%- include('../commun/header.mjml.ejs', { utils }); %>

      <mj-wrapper css-class="wrapper">

          <mj-column>
            <mj-text align="left">
              Bonjour <%= prenom %>,
            </mj-text>
            <mj-text align="left">
              Ce mail pour vous rappeler que votre date de fin de mission est arriv&eacute;e.
              Cette date est d&eacute;terminante dans la gestion de votre acc&egrave;s &agrave; l&rsquo;espace Coop.
            </mj-text>
            <mj-text align="left">
              En effet, vos acc&egrave;s Coop seront bient&ocirc;t coup&eacute;s&nbsp;:
            </mj-text>
            <mj-text align="left">
              <b>Si votre structure ne renouvelle pas votre contrat de travail</b>, en faisant la d&eacute;marche sur le Tableau de pilotage<br/>
              <a target="blank" rel="noopener noreferrer" href="<%= demarcheRenouvellement %>">
                En savoir plus sur &ldquo;&nbsp;Comment faire la d&eacute;marche de renouvellement de poste sur le tableau de pilotage&nbsp;&rdquo;
              </a>
            </mj-text>
            <mj-text align="left">
              <b>Si vous n&rsquo;avez pas &eacute;t&eacute; identifi&eacute;(e) par une nouvelle structure employeuse</b> pour d&eacute;marrer une nouvelle mission<br/>
              <a target="blank" rel="noopener noreferrer" href="<%= seRendreDisponible %>">
                En savoir plus pour se rendre disponible pour une nouvelle mission
              </a>
            </mj-text>
            <mj-text align="left">
              &Agrave; partir de la coupure de vos acc&egrave;s Coop, nous vous invitons &agrave; utiliser votre <a href="<%= espaceCandidat %>" target="blank" rel="noopener noreferrer">espace candidat</a> de nouveau accessible pour mettre &agrave; jour vos informations de candidature.
            </mj-text>
             <mj-text align="left">
              Pour vous accompagner sur votre avenir professionnel, nous vous proposons un guide &quot;&nbsp;Je pr&eacute;pare mon futur&nbsp;&quot; disponible <a href="<%= documentAvenir %>" target="blank" rel="noopener noreferrer">ici</a>
              et de vous inscrire &agrave; <a href='<%= link %>' target="blank" rel="noopener noreferrer"
              >la newsletter</a> destin&eacute;e aux conseillers num&eacute;riques en fin de mission.
            </mj-text>
          </mj-column>
      </mj-wrapper>
      <mj-wrapper css-class="wrapper">
        <mj-section>
          <mj-column> <%- include('../commun/signature.mjml.ejs'); %> </mj-column>
        </mj-section>
        <mj-section padding="8px"></mj-section>
        <mj-section>
          <mj-column> <%- include('../commun/footer.mjml.ejs'); %></mj-column>
        </mj-section>
      </mj-wrapper>
  </mj-body>
</mjml>
