<mjml>
  <%- include('../commun/head.mjml.ejs'); %>
  <mj-body>
    <%- include('../commun/header.mjml.ejs', { utils }); %>
    <mj-section padding="8px"></mj-section>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column>
          <mj-text align="left">
            Bonjour <%= prenom %>,
            </mj-text>
            <mj-text align="left">
              Nous vous informons que vos acc&egrave;s &agrave; l&rsquo;espace Coop ont &eacute;t&eacute; supprim&eacute;s ce jour.
            </mj-text>
            <mj-text align="left">
              Votre <a href="<%= espaceCandidat %>" target="blank" rel="noopener noreferrer">espace candidat</a> est de nouveau accessible. Cet espace permet de mettre &agrave; jour vos informations de candidature et de valoriser votre exp&eacute;rience de conseiller num&eacute;rique. La mise &agrave; jour de ces informations permettra aux employeurs de vous identifier comme potentiel candidat et augmentera vos chances d&rsquo;&ecirc;tre mis en relation avec une structure.
            </mj-text>
            <mj-text align="left">
              Votre parcours de conseiller num&eacute;rique arrive &agrave; terme, et comme chaque exp&eacute;rience, elle vous a apport&eacute; de nouvelles connaissances sur vous et sur l&rsquo;&eacute;cosyst&egrave;me de la m&eacute;diation num&eacute;rique. C&rsquo;est pourquoi nous vous proposons de vous accompagner sur votre avenir en mettant &agrave; votre disposition :
            </mj-text>
            <mj-text align="left">
              <span style="margin: 0 10px">-</span>Un guide “Je pr&eacute;pare mon futur”, disponible <a href="<%= documentAvenir %>" target="blank" rel="noopener noreferrer" >ici</a></br>
              <span style="margin: 0 10px">-</span>Une <a href="<%= link %>" target="blank" rel="noopener noreferrer" >newsletter</a> destin&eacute;e aux conseillers num&eacute;riques en fin de mission
          </mj-text>
          <mj-text align="left">
            <b>Vous avez des questions ?</b></br>
            L&rsquo;&eacute;quipe support se tient &agrave; votre disposition :</br>
            <span style="margin: 0 10px">-</span>Par email &agrave; l&rsquo;adresse : <a href="mailto:<%= emailSupport %>"><%= emailSupport %></a></br>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column> <%- include('../commun/signature.mjml.ejs'); %> </mj-column>
      </mj-section>
      <mj-section padding="8px"></mj-section>
      <mj-section>
        <mj-column> <%- include('../commun/footer.mjml.ejs'); %></mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
