<mjml>
  <%- include('../commun/head.mjml.ejs'); %>

  <mj-body background-color="#f0f0f0">
    <%- include('../commun/header-structure.mjml.ejs', { utils }); %>

    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column>
          <mj-text align="left">
            Madame, Monsieur,
          </mj-text>
          <mj-text align="left">
            Nous avons le plaisir de vous informer que la structure <strong><%= nomStructure %></strong>, dont vous avez soutenu
            la candidature dans le cadre de <strong>l’appel à candidature Conseiller numérique, s’est vue attribuer <%= nombreConseillersCoselec %> poste(s) de conseiller(s) numérique(s).</strong>
          </mj-text>
          <mj-text align="left">
            La structure a été informée par email de cette décision et devra se rendre sur son
            Tableau de pilotage pour effectuer le recrutement du conseiller numérique.
            <a href="https://outline.incubateur.anct.gouv.fr/s/ab5a3b4d-e742-4f69-b004-b08b6fdbd3db/doc/recruter-un-conseiller-numerique-fIxfkYYbHQ" target="_blank" style="color: #0063CB;">
              En savoir plus sur ces étapes
            </a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column> <%- include('../commun/signature.mjml.ejs'); %> </mj-column>
      </mj-section>
      <%- include('../commun/footer.mjml.ejs'); %>
    </mj-wrapper>
  </mj-body>
</mjml>
